<% require 'commonmarker' %>
<% content_for :title, @article.title %>

<h1><%= @article.title %></h1>
<%= sanitize CommonMarker.render_html @article.body %>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form', parent: @article %>
<% end %>

<h2>Comments</h2>
<%= render @article.comments %>

