<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/">Blog</a>
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>
          <%= link_to "Login", user_session_path, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </nav>
    <div hidden class="notice container-fluid" aria-label="hidden"><%= notice %></div>
    <div hidden class="alert contaier-fluid" aria-label="hidden"><%= alert %></div>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
